body {
    text-align: center;
}

.mainContainer {
    -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
	padding: 30px;
	margin: auto;
	position: relative;
	top: 100px;
	margin-bottom: 100px;
}


.layout-column {
	width: 95%;
}

.buttons {
	margin: 0 auto;
	display: inline-block;
}

.inputs {
	width: 80%;
	margin: 0 auto;
	display: inline-block;
}

#reg {
	background-color: #329E32;
}

.md-list-item-text {
	text-align: left;
}

@media screen and (max-width: 599px) {
	md-content {
		width: 95%;
	}
	.mainContainer {
		padding: 8px;
	}
}