body {
    text-align: center;
}

.mainContainer {
    -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
	padding: 30px;
	margin: auto;
	position: relative;
	top: 100px;
	margin-bottom: 100px;
}


.layout-column {
	width: 95%;
}

.buttons {
	margin: 0 auto;
	display: inline-block;
}

.inputs {
	width: 80%;
	margin: 0 auto;
	display: inline-block;
}

#reg {
	background-color: #329E32;
}

.md-list-item-text {
	text-align: left;
}

.orderDetails p {
	color: rgba(0,0,0,0.54);
}

p.ng-binding.delivered {
	color: rgba(22, 146, 16, 0.83) !important;
	font-style: italic;
}

p.ng-binding.ordered {
	color: rgba(28, 150, 173, 0.83) !important;
	font-style: italic;
}

p.ng-binding.finalized {
	color: rgba(216, 26, 26, 0.83) !important;
	font-style: italic;
}

.ordersDialog {
	padding: 16px;
}

@media screen and (max-width: 599px) {
	md-content {
		width: 95%;
	}
	.mainContainer {
		padding: 8px;
	}
}