<md-whiteframe ng-if="user" class="md-whiteframe-24dp mainContainer" flex="70" flex-xs="95" flex-sm="75" flex-gt-sm="60" flex-gt-md="50" layout layout-align="center center">
  <div layout="column" ng-cloak>
    <md-content class="md-padding">
      <md-tabs md-selected="selectedIndex" md-dynamic-height md-center-tabs md-swipe-content md-autoselect>
        <md-tab ng-repeat="tab in tabs"
                ng-disabled="tab.disabled"
                label="{{tab.title}}">
          <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
            <md-button class="md-primary md-raised" ng-click="createOrder($event)">Create new order</md-button>
            <md-content>
              <md-list>
                <md-list-item ng-if="selectedIndex === 0" class="md-3-line" ng-repeat="item in orders">
                  <div class="md-list-item-text">
                    <h3>{{item.where}}</h3>
                    <p>{{item.who}}</p>
                    <p>{{item.notes}}</p>
                  </div>
                  <md-button ng-click="orderDetails($event, $index)" class="md-raised md-primary">Details</md-button>
                  <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
                <md-list-item ng-if="selectedIndex === 1" class="md-3-line" ng-repeat="item in archivedOrders">
                  <div class="md-list-item-text">
                    <h3>{{item.where}}</h3>
                    <p>{{item.who}}</p>
                    <p>{{item.notes}}</p>
                    <p ng-class="item.status">{{item.status}}</p>
                  </div>
                  <md-button ng-click="orderDetails($event, $index, true)" class="md-raised md-primary">Details</md-button>
                  <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
              </md-list>
            </md-content>
          </div>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
</md-whiteframe>
